.logo-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
}

.logo-track {
    display: flex;
    align-items: center;
    gap: 40px;
    animation: scroll 80s linear infinite;
}

.logo-img {
    height: 200%;
    max-height: 200px;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
}


.logo-wrapper:hover .logo-track {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}